name: Publish to Conda (Anaconda.org)

on:
  workflow_dispatch:

jobs:
  build_and_publish_conda:
    name: Conda (${{ matrix.os }}, py${{ matrix.python-version }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-15, windows-latest]
        python-version: ["3.9", "3.10", "3.11", "3.12", "3.13"]

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up Miniconda
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          python-version: ${{ matrix.python-version }}
          channels: conda-forge,defaults
          channel-priority: strict

      - name: Install conda-build and anaconda-client
        shell: bash -el {0}
        run: |
          conda install -y conda-build anaconda-client

      - name: Build conda package
        shell: bash -el {0}
        run: |
          conda build conda-recipe --python ${{ matrix.python-version }} --output-folder conda-out/

      - name: Upload to Anaconda.org
        shell: bash -el {0}
        env:
          ANACONDA_API_TOKEN: ${{ secrets.ANACONDA_API_TOKEN }}
        run: |
          anaconda -t "$ANACONDA_API_TOKEN" upload --force conda-out/**/tlars-*.tar.bz2
